@keyframes pulse-red {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(74, 114, 255, 0.3);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(74, 114, 255, 0.1);
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(74, 114, 255, 0.05);
  }
}
